body{
    background-color: lightslategray;
}
.main{
    text-align: center !important;
    color: white;
}
.btn{
    height: 3rem;
    min-width: 5rem;
    width: auto;
    background-color: green;
    color: white;
    border-radius: 10px;
}

#sub_header{
    font-size: 2rem;
}
#quote{
    font-family: cursive;
    font-size: 24px;
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    font-size: larger;
    font-family: cursive;
  }